@use '/src/styles/_variables' as var;
@use '/src/styles/mixins' as fun;

#offline {
  .event-item {
    @include fun.phone() {
      font-size: 15px;
    }
    
    .label,
    .datetime,
    .location {
      color: var.$gray;
    }

    .title {
      font-size: 18px;
    }
  }
}