@use '/src/styles/_variables' as var;

.tag-wrapper {
  .tag {
    padding: 4px 8px;
    margin: 2px;
    font-size: 13px;
    color: var.$dark;
    border-radius: 40px;
    background: var.$light;

    &.red {
      background: var.$red;
    }
  
    &.green {
      background: var.$green;
    }
  
    &.blue {
      background: var.$blue;
    }
  }
}
